{% extends 'base.html.twig' %}

{% block title %}New SousCategorie{% endblock %}

{% block body %}
    <h1 class ="mt-2">Creation d'une SousCategorie</h1>
        <div class="container">
            {{ include('pages/sous_categorie/_form.html.twig') }}


        </div>
{% endblock %}
