{% extends 'base.html.twig' %}

{% block title %}ShopMaquette - Nouveau fournisseur{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer nouveau Fournisseur</h1>

    {{ include('pages/fournisseur/_form.html.twig') }}

</div>
{% endblock %}
