{% extends 'base.html.twig' %}

{% block title %}Modifier Images{% endblock %}

{% block body %}
    <h1>Modifier - Image Produit</h1>

    {{ include('pages/image/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('pages/image/_delete_form.html.twig') }}
{% endblock %}
