{% extends 'base.html.twig' %}

{% block title %}Creation Image - Produit{% endblock %}

{% block body %}
    <h1>Creation Image</h1>

    {{ include('pages/image/_form.html.twig') }}

{% endblock %}
