{% extends 'base.html.twig' %}

{% block title %}ShopMaquette - Commande{% endblock %}

{% block body %}
    <h1 class="mt-3 mx-3 border-bottom">Commande</h1>

    <div class="container-fluid mt-5">
        <div class="row">
            
        
        </div>
    
    </div>

{% endblock %}
