/* Page Index */

/* Image du carousel de pub */
.imag-pub {
    height: 720px; 
    width: 100%;
    object-fit: cover;

}

/* Image pour les categories */
.categorie-img{
    height: 200px !important;
    width: 100%;
    object-fit: cover;

}

/* Image pour les produit les plus recent */
.produit-img{
    height: 80%;
    width: 100%;
    object-fit: cover;

}

.custom-card-produitR{
    max-width: 350px;
    max-height: 400px;
}

/* Fin Pages Index */

/* debut header */
.navbar {
    border: none !important;
}

.nav-link {
    border: none !important;
}

.nav-link:hover,
.nav-link:focus {
    border: none !important;
}

.navbar-brand {
    border: none !important;
}

.navbar .nav-item.active .nav-link {
    border: none !important;
}

/* fin header */

/* Debut categorie */

.categorie-model-img{
    height: 300px !important;
    width: 100%;
    object-fit: cover;

}

/* Fin categorie */