/* Page Index */

.imag-pub {
    height: 720px; 
    width: 100%;

}

.categorie-img{
    height: 100%;
    width: 100%;

}

.produit-img{
    height: 80%;
    width: 100%;

}

/* Fin Pages Index */

/* debut header */
.navbar {
    border: none !important;
}

.nav-link {
    border: none !important;
}

.nav-link:hover,
.nav-link:focus {
    border: none !important;
}

.navbar-brand {
    border: none !important;
}

.navbar .nav-item.active .nav-link {
    border: none !important;
}

/* fin header */

/* Debut produit */

