<footer>
        <div class="container-fluid col-md-12 mt-5 bg-primary text-end">
            <div class="row">
                <ul class="list-inline col-md-3 mt-3">
                    <li class="fs-2">A PROPOS</li>
                    <li> Condition général</li>
                    <li>Mention légal</li>
                    <li>Cookies</li>
                </ul>
                <ul class="list-inline col-md-3 mt-3">
                    <li class="fs-2">LE GROUPE</li>
                    <li>Qui somme-nous ?</li>
                    <li>Recrutement</li>
                    <li>Contacter nous</li>
                </ul>
                <ul class="list-inline col-md-3 mt-3">
                    <li class="fs-2">RESEAU</li>
                    <li>Compte insta <i class="fa-brands fa-instagram"></i></li>
                    <li>Compte youtube <i class="fa-brands fa-youtube"></i></li>
                    <li>Compte tiktok <i class="fa-brands fa-tiktok"></i></li>
                    <li>Compte twitter <i class="fa-brands fa-twitter"></i></li>
                </ul>
            </div>
        </div>
    </footer>