{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <h1 class="mt-4">Ajouter un Nouveaux produit</h1>
    <div class="container">

    {{ include('pages/produit/_form.html.twig') }}

    {# Mettre le choix du fournisseur #}
    </div>
{% endblock %}
