{% extends 'base.html.twig' %}

{% block title %}ShopMaquette - Categorie
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_ModelKit') }}">ModelKit</a></li>
        <li class="breadcrumb-item active" aria-current="page">Type Model</li>
    </ol>


    <div class="container-fluid text-start mt-5">

        <div class="row">

                {% for souscategorie in categorie.sousCategories %}
                            <div class="col-12 col-sm-6 col-md-4 mx-4">

                                <a href="{{ path("app_catalogue", { souscategorie: souscategorie.id}) }}">
                                    <img src="{{ asset('images/sousCategorie/' ~ souscategorie.image) }}" class=" img-fluid  categorie-model-img">
                                </a>
                            </div>
                {% endfor %}

        </div>
    </div>
{% endblock %}  